repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    # Tangling adds trailing whitespace as it includes the license text
    exclude: ^sparkweather.el$
  - id: end-of-file-fixer
  - id: check-yaml
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.20.0
  hooks:
  - id: markdownlint-cli2
    args: ["--fix"]
